/* Drag An Drop */
.imagesDaDMatchItems img{
    width:auto;
    -moz-border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    -khtml-border-radius: 12px 12px 12px 12px;
    border-radius: 12px 12px 12px 12px;
     
    
    /*background-color:rgb(204,255,255);*/
    background-color: transparent;
}

.imagesDaDMatchItems_myimg1{
    /*border: 3px solid white;*/
    border: 8px solid transparent;

}

.imagesDaDMatchItems_myimg2{
    border: 8px solid red;
    border-style: groove;    
}    

