/*
.quiz_infobulle {
    border-bottom: 1px dotted #000000;
    color: #000000;
    outline: none;
    cursor: help;
    text-decoration: none;
    position: relative;
    opacity: 1;

}

.quiz_infobulleFont {
    font-family: Tahoma;
    font-weight: normal;
    font-size: 0.9em;
}
*/

.quiz_infobulle div {
    /*margin-left: -999em;*/
    position: absolute;
    display:none;
    height:150px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 8px 8px 5px #444;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
    font-family: Calibri, Tahoma, Geneva, sans-serif;
    /*left: 1em;*/
    /*top: 2em;*/
    z-index: 999;
    margin: 0;
    opacity: 1;
    overflow-y:auto;
    padding: 0.5em 0.8em 0.8em 2em;
    text-decoration:none;
    border:none;    
    font-size: 1.4em;
    color: blue;
}

.quiz_infobulle:hover div {
    display:block;
}
.custom img:first-child {
    src: url(images/Critical.png);
    height: 48px;
    width: 48px;
    text-decoration:none;
    border:none;    
}

.quiz_infobulle:hover img[alinea] {
    margin-bottom: 5px;
    margin-right: 5px;
    position: relative;
    width: 120px;
    align: left;
    float: left;
    background-repeat: no-repeat;
}

.quiz_infobulle:hover img[imglien] {
    top: 5em;
    left: 5em;
}

/*
.custom {
}

.quiz_infobulle:hover span[top_contact] {
    top: 1em;
}

.quiz_infobulle:hover span[width50] {
    width: 50px;
}

.quiz_infobulle:hover span[width100] {
    width: 100px;
}

.quiz_infobulle:hover span[width150] {
    width: 150px;
}

.quiz_infobulle:hover span[width200] {
    width: 200px;
}

.quiz_infobulle:hover span[width250] {
    width: 250px;
}

.quiz_infobulle:hover span[width300] {
    width: 300px;
}

.quiz_infobulle:hover span[width350] {
    width: 350px;
}

.quiz_infobulle:hover span[width400] {
    width: 400px;
}

.quiz_infobulle:hover img:nth-child(2n) [iconinfo] {
    border: 0;
    margin: -10px 0 0 -55px;
    float: left;
    position: absolute;
}

.quiz_infobulle:hover em {
    font-family: Candara, Tahoma, Geneva, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    display: block;
    padding: 0.2em 0 0.6em 0;
}

.classic {
    padding: 0.8em 1em;
}


* html a:hover {
    background: transparent;
}

.classic {
    background: #FFFFAA;
    border: 1px solid #FFAD33;
}

.critical {
    background: #FFCCAA;
    border: 1px solid #FF3334;
}

.help {
    background: #9FDAEE;
    border: 1px solid #2BB0D7;
}

.ecinfo {
    background: #9FDAEE;
    border: 1px solid #2BB0D7;
}

.warning {
    background: #FFFFAA;
    border: 1px solid #FFAD33;
}
*/


