
/* ----- structure principale -----*/
.quiz_table {
  border: 0px solid red;

}
 /* ensemble du quiz interface utilisateur */
#quiz_div_main{            
    width : 700px;
    /*  background:rgb(0,204,0) ;*/
    position:relative;
    
	font-size: 12px;
    font-weight: normal;	
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    /* background-color: #dddddd; */
	color: #333;
    margin: 10px 10px 10px 10px;
    padding: 0px 0px 0px 0px;
}

#quiz_div_header {
    width : 100%;
    min-height :10px;
    height : 32px;
    /*:rgb(0,0,255);*/
    
	font-size: 1.8em;
    font-weight: 600; 
    margin: 0px;
    padding: 0px;
}

#quiz_div_buttons{      /* bouton de déplacement, de validations, reload, ... */
    width : 100%;
    min-height : 50px;
    height : 50px;
    /* background:rgb(255,255,0);*/
    bottom : 0;
    padding-top:5px;
    /* 
    display : none; 
    */
}
#quiz_div_footer{           /* version / auteur / date / ... */  
    width : 100%;
    min-height :10px;
    height : 20px;
    /*background:rgb(0,0,255);*/
}
#quiz_div_message{          /* message de bas de page */
    width : 100%;
    height : 80px;
    /*background:rgb(153,153,255);*/
    left:20px;
}
#quiz_div_start{          /* message de bas de page */
    width : 100%;
    height : 80px;
    /*background:rgb(153,153,255);*/
    /* padding:10px 0px 0px 0px; */
    left:20px;
}

#quiz_div_body{      /* l'ensemble des slides */
    width : 100%;
    height : 600px;
    background:rgb(204,255,255) ;
/*
    display: flex;
flex-direction: column;
position:relative;
*/
}

/* /////////////////////////////////////////////////////////////// */


#quiz_div_log{             /* zone de log pour affichage des bonnes réponse en dev et en test */
    width : 700px;
    /* background:rgb(0,204,0) ; */
    position:relative;

    font-size: 1em;
    margin-itemRound-bottom: 5px;
    margin-left: 20px;
    text-align: left;
    color: blue;
    padding: 5px 12px 5px 12px;
}
#quiz_div_navigation{      /* bouton de déplacement, de validations, reload, ... */
    width : 100%;
    height : 100px;
    /*background:rgb(0,0,204);*/
    bottom : 0;
    padding-top:5px;
    /* 
    display : none; 
    */
}

/* ----- structure secondaire -----*/
#quizDivAllSlides{
}


#pb_contenair{
  /*background-color:lightgray;*/
  width: 80%;
  height:24px;
  padding:2px 0px 2px 0px;
  -moz-border-radius:3px;
  border-radius:3px;
  text-align:left;
  border:1px solid gray;
  margin-top:5px;	
}

#quiz_div_consigne{
  background: #fafadc;
  opacity:1;
  text-align:left;      
}    

/* ////////////////////////////////////////////////////////////////// */

/* ----- Autres objets ----- */


/* ----- opjets contenu dans gigi_div_body ----- */
.quiz_div_slide_main{         /* pour tous les slides */
  display : none;
    /* 
    display: flex;
    flex-direction: column;
    position:relative;
     */
    width : 100%;
    /* max-height : 150px; */
    background:rgb(255,255,204);
    margin-top: 0px;
    padding: 0px;
  font-size: 1.2em;
  text-align:center;
  padding: 0px 0px 0px 0px;
/* overflow: auto; */
}

.quiz_div_slide_begin{         /* pour pageBegin */
    min-height : 50px; /* body - buttons*/
    height : 600px; /* body sans tenir compte de button*/
    display: flex;
    flex-direction: column;
    position:relative;
}
.quiz_div_slide_end{         /* pour pageEnd */
    min-height : 50px; /* body - buttons*/
    height : 500px; /* body sans tenir compte de button*/
    display: flex;
    flex-direction: column;
    position:relative;
}
.quiz_div_slide_question1{         /* pour tous les slides contenant une question ou pageGroup*/
    min-height : 50px; /* body - buttons*/
    height : 500px; /* body - buttons*/
    background:rgb(204,153,255);
    display: flex;
    flex-direction: column;
    position:relative;
}

.quiz_div_slide_question0{         /* pour tous les slides contenant une question ou pageGroup*/
    min-height : 50px; /* body - buttons*/
    height : 550px; /* body - buttons*/
    background:rgb(204,153,255);
    display: flex;
    flex-direction: column;
    position:relative;
}



/* *********************************************************** */
#gigi_div_question{         /* pour la question et le commentaire associé */
    width : 100%;
    min-height : 100px;
    max-height : 200px;

    background:rgb(255,51,0);
    overflow-y: auto;

}

#gigi_div_propositions{     /* zones de saisies des réponses */
    width : 80%;
    min-height :50px;
    background:rgb(255,204,0);
    overflow-y: auto;

}
/* =============================================== */


/* --- style des contenair --- */







#quiz_div_results{
    margin-top: 0px;
    padding: 5px;
}



label{
	font-size: 1.2em;
    font-weight: 100;	
    cursor: pointer;
}
/* --- style pour le popup d'affichage des résultats --- */

#quiz_div_disabled_all{
    position: absolute;
    top: 10px; 
    left: 0px;
    width: 700px;
    height: 700px;
    background-color: rgba(92, 92, 92, 0.5);
    z-index:100;
    visibility:hidden; /* */
    border-radius: 8px;
    text-align:center;

}

#quiz_div_popup_main{
    position: relative;
    top: 20px;
    left: 0px;
    width: 600px;
    height: 600px;
    padding: 0px;
    margin: auto;
  font-size: 1.5em;
   
/* background-color: rgba(0, 255, 0, 1);       */
    z-index:110;
}
#quiz_div_popup_answers{
    /* width: 100%; */
    height: 350px;
    overflow-y: scroll;
/*    overflow: hidden; *
    padding: 20px;
    margin: 0px;
  /* background-color: rgba(0, 255, 0, 1); */
    z-index:110;
}
.quiz_div_popup_good_answer{
    color: blue;
}
.quiz_div_popup_bad_answer{
    color: red;
}


/* --- style des slides --- */
.quiz_slide_main{
  /* position: absolute; */
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
  display : none;

  padding: 0px 0px 0px 0px;
  margin: auto;
}

.quiz_slide_main_active{
  opacity: 1;
  z-index: 2;
  display : inline;
}

.quiz_slide_question_main{
min-height:150px;
  font-size: 1.0em;
  margin-itemRound-bottom: 0px;
  /*padding-top: 10px;*/
  padding-itemRound-bottom: 10px;
  width:100%;
      overflow-y: auto;
}
.quiz_slide_propositions{
  font-size: 1.0em;
  margin-itemRound-bottom: 0px;
  padding-top: 10px;
  padding-itemRound-bottom: 10px;
  width:100%;
  overflow-y: auto;
    display: flex;
    flex-direction: column;
}

label.div.quiz_slide_question_main{
cursor: pointer;
}


.quiz_slide_question{
  font-size: 1.5em;
  margin-itemRound-bottom: 0px;
  padding-top: 0px;
  padding-itemRound-bottom: 0px;
}

.quiz_slide_comment1{
  font-size: 1.0em;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 10px 0px;
  /* color: #FF0000; */
  width: 100%;
  text-align:center;
  margin: 0 auto;
}

/*
.quiz-slide-answers {
  margin-itemRound-bottom: 0px;
  padding-itemRound-bottom: 20px;
  margin-top: 0px;
  padding-top: 20px;
  text-align: left;
  display: inline-block;
  height: 270px; 
}
*/
.answers label{
  display: block;
  margin-itemRound-bottom: 10px;
}
/* *********************************** */
.question table, th, td{
/*table, th, td {*/
  border: 0px solid black;
  padding: 2px;
}
table.question {
/*table, th, td {*/
  border: 0px solid black;
  border-collapse: collapse;
  width:100%;
}
/* *********************************** */

/* ----- style des boutons -----*/
.quizHorloge{
font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	background-color: #227799;
	color: #ffffff;
	border: 0px;
	border-radius: 3px;
	padding: 10px 15px 10px 15px;
	margin-itemRound-bottom: 20px;
    border-radius: 36px;
    cursor: none;
}
.quizHorloge:hover{
    background-color: #123456;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.quizButton{
font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	background-color: #227799;
	color: #ffffff;
	border: 0px;
	border-radius: 3px;
	padding: 10px 15px 10px 15px;
	margin-itemRound-bottom: 20px;
    border-radius: 8px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left:5px;
    margin-right:5px;

}
.quizButton:hover{
    background-color: #123456;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.quizButton:active {
  background-color: #0B9DDB;
  /* box-shadow: 0 5px #666; */
  transform: translateY(4px);
}

.quizButton:disabled,
.quizButton[disabled]{

    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    box-shadow:none;
}
.quizButton:disabled:hover,
.quizButton[disabled]:hover{

    background-color: #cccccc;
    color: #666666;
    box-shadow: no-shadow;
}
.quizButton:disabled:active,
.quizButton[disabled]:active{

    background-color: #cccccc;
    color: #666666;
  transform: translateY(0px);
}

/* ----  ----- */
input.question-inputMatchItems{
  text-align:left;
}
.question-textareaListbox{
  font-size: 20px;
  margin-itemRound-bottom: 5px;
  z-index:999;
  width:200px;
}

select.question-dblListbox{
  font-size: 20px;
  margin-itemRound-bottom: 5px;
  width: 270px;
  /* z-index:999; */
}
.question-combobox{
  font-size: 1.1em;
  margin-itemRound-bottom: 5px;
  z-index:999;
  width:250px;
}

span.slide-label{
  font-size: 1.1em;
  /*margin-itemRound-bottom: 10px;*/
  color: #0000FF;
  width: 50%;
  text-align:left;
/*  margin: 0 auto;*/
  padding: 6px;
  width: 500px;
  line-height:30px;/**/
  }

/* *********************************** */
.question table, th, td{
/*table, th, td {*/
  border: 0px solid black;
  padding: 2px;
}
table.question {
/*table, th, td {*/
  border: 0px solid black;
  border-collapse: collapse;
}

/* ----- divers ----- */

hr.quiz-style-two {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.quiz-shadowbox {
  font-size : 1em;
  width: 80%;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px 12px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
  margin: auto;
  margin-top:10px;
  text-align:left;
}
.quiz-shadowbox-medium {
  font-size : 1.2em;
  width: 80%;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px 12px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
  margin: auto;
  margin-top:10px;
}

.quiz-shadowbox1 {
  width: 100%;
}

.quiz-shadowbox2 {
  width: 25em;
}

.quiz-shadowbox-question {
  font-size : 1em;
  color : black;
  width: 90%;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px 12px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
  margin: auto;
  margin-top:10px;
  margin-bottom:10px;

  border: 0px solid;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  -khtml-border-radius: 8px 8px 8px 8px;
  border-radius: 8px 8px 8px 8px;
  
}

textarea.slide-proposition{
  font-size: 1.2em;
  margin-itemRound-bottom: 10px;
  color: #0000FF;
  width: 95%;
  height: auto;
  text-align:left;
  margin: auto;
  padding: 6px;

  /*height:300px;*/
  }

textarea.slide-proposition2{
  font-size: 1.2em;
  margin-itemRound-bottom: 5px;
  color: #0000FF;
  /* width: 50%; */
  text-align:left;
  margin: 0 auto;
  padding: 5px;
  width: 150px;
  resize : none;

  }
input.slide-proposition2{
  font-size: 1em;
  margin-itemRound-bottom: 5px;
  color: #0000FF;
  /* width: 50%; */
  text-align:left;
  margin: 0px auto;
  padding: 1px;
  width: 150px;
  resize : none;

  }


/* ------------------------------ */
#pb_base{
  /* width:340px; */
  display: inline-block;

  padding:1px;
  background-color:white;
  border:1px solid black;
  height:16px;
}
#pb_text{
  display: inline-block;
  vertical-align: top;
  padding: 1px 1px 0px 1px;
  text-align:center;

  width:100px;
  height:18px;
  font-size:1.2em;
  /*background-color:lightgray;*/

}
#pb_indicator{
  width: 50px;
  background-image: url("progressbarr/shaded-blue.png");
  background-size: auto  16px;
  background-repeat: repeat-x;
  height: 14px;
  margin: 0;
  padding: 0px 0px 0px 0px;
}

/* Drag An Drop */
.myimg0 img{
    width:auto;
    -moz-border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    -khtml-border-radius: 12px 12px 12px 12px;
    border-radius: 12px 12px 12px 12px;
    border: 0px solid transparent;
     
    
    /*background-color:rgb(204,255,255);*/
    background-color: transparent;
}

.myimg1{
    /*border: 3px solid white;*/
    border: 3px solid transparent;

}

.myimg2{
    border: 3px solid red;
}    

.quiz_dad0 div {
    /*border: 3px solid white;*/
    border: 3px solid transparent;
}

.quiz_dad1 {
    /*border: 3px solid white;*/
    border: 3px solid transparent;
}
.quiz_dad1 div {
    /*border: 3px solid white;*/
    border: 3px solid transparent;
}

.quiz_dad1  span{
    /*border: 3px solid white;*/
    border: 3px solid transparent;

}
.quiz_dad2 {
    border: 3px solid blue;
}    
.quiz_dad2 div{
    border: 3px solid blue;
}    
.quiz_dad2 span{
    border: 3px solid blue;
    border-width: 3px 3px 0px 3px;
 }    

 



.tbl_dad{
 width:100%;
 min-height:150px;
 }
 
.tbl_dad td{
    padding:5px;
    vertical-align: top; }
 
.group0{
    width:100%;
    min-height:80px;
    background-color:silver;
    -moz-border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    -khtml-border-radius: 12px 12px 12px 12px;
    border-radius: 12px v 12px 12px;
}
.groupX{
    width:100%;
    min-height:150px;
    background-color:silver;
    -moz-border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    -khtml-border-radius: 12px 12px 12px 12px;
    border-radius: 12px v 12px 12px;

}

.titleImg{
    font-size:0.8em;
}

.quiz_sommaire_group{
    color:red;
    cursor:pointer;
}
.quiz_sommaire_question{
    color:blue;
    cursor:pointer;
}


.quiz_sommaire h1{
    color:blue;
    cursor:pointer;
    font-size:1.0em;
    margin:0px;
    padding:0px;
    font-weight:bold;
    line-height: 1.1em;
}

.quiz_sommaire h2{
    color:black;
    cursor:pointer;
    font-size:0.8em;
    margin:0px 0px 0px 12px;
    padding:0px;
    font-weight:normal;
    line-height: 1.1em;
}
